/*Minden html oldalra rákerül
Itt alakítsd ki az OLDALSZERKEZETET - a táblán található minta alapján
Reszponzív - 700px kerüljenek egymás alá a nav, article, adide, és a menüont egymás mmellé

Betűtípus, menü kialakítása:

Minden táblázatnak saját css-lesz!
*/


footer{
    text-align: center;
}

















@media  screen and (max-width:500px) {
    nav ul{
        
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap:10px;
        
    }
}